{% extends "base_generic.html" %}
{% load bootstrap %} 

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <div class="container">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      {{ form|bootstrap }}
    </table>
    <input type="submit" class="btn btn-outline-secondary border-dark-subtle mb-3 mt-3" value="login" />
  
  </form>
</div>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a class="text-info-emphasis" href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
